<style>
.header{
   position:absolute;
   left:0;
   right:0;
   top:0;
   height:50px;
   background:gray;
   
}
img {
  position:absolute;
  left:20px;
  bottom:5px;
  
}
.menu{
 position:relative;
 margin-top:50px;
 height:50px;
 background:#d0d0d0;
 
}
a:hover{
  background:red;
}
.navnewul {
   position:relative;
   float:left;
   margin-left:20px;
   display:inline-block;
}
.navnewli {
 list-style-type:none;
}
.navnewa{
  display:block;
  font-size:20px;
  line-height:50px;
  padding-left:30px;
  padding-right:20px;
  color:#fff;
}
.innerdiv {
font-size:20px;
position:relative;
padding-left:20px;
display:inline;
}
a.navlia {
display:inline-block;
text-decoration:none;
line-height:50px;
padding-left:30px;
padding-right:20px;
}
a.lefta {
   line-height:100%;
   padding-left:20px;
   text-decoration:none;
   font-size:20px;
   display:block;
   height:100%;
   padding-top:10px;
}
.leftbar {
   position:absolute;
   top:100px;
   bottom: 0;
   left:0;
   width:150px;
   background:#BBFFFF;
   overflow:auto;
   border:1px solid grey;
   text-align:center;
}
.leftmenu {
  position: relative;
  top:60px;
  height:40px;
  width:150px;
}
.leftlittle {
   position:relative;
   margin-top:30px;
   height:4%;
   width:100%;
}
a.little {
  font-size:10px;
  display:block;
  width:100%;
  heght:20px;
  position:absolute;
}
a.little:hover{
  background:#D1E9E9;
}
</style>

<div class="header">
<img src="{{STATIC_URL}}images/logo.png" />
</div>
<div style="position:relative;margin-top:50px;"></div>
<div class="menu">
<div class="innerdiv">
<a class="navlia" href="#">首页</a>
</div>
<div class="innerdiv">
<a class="navlia" href="#">系统</a>
</div>
<div class="innerdiv">
<a class="navlia" href="#">存储服务</a>
</div>

<div class="innerdiv">
<a class="navlia" href="#">共享</a>
</div>
<div class="innerdiv">
<a class="navlia" href="#">iscsi设置</a>
</div>
<div class="innerdiv">
<a class="navlia" href="#">网络</a>
</div>
<div class="innerdiv">
<a class="navlia" href="#">设置</a>
</div>

</div>
<div class="leftbar" ng-controller="leftCtrl">
 <div class="leftmenu">
   <a class="lefta" href="#">首页</a>
 </div>
 <div class="leftmenu">
   <a class="lefta" href="#">系统</a>
   
 </div>
 <div class="leftmenu">
   <a class="lefta" href="#" ng-click="show()">存储服务</a>
 </div>
 <div ng-if="flag">
  <div class="leftmenu" style="height:30px;">
   <a class="lefta" style="font-size:10px;" href="storage/pool">存储池</a>
 </div>
  <div class="leftmenu" style="height:30px;">
   <a class="lefta" style="font-size:10px;" href="#">文件系统</a>
 </div>
  <div class="leftmenu" style="height:30px;">
   <a class="lefta" style="font-size:10px;" href="#">卷</a>
 </div>
 </div>

 <div class="leftmenu">
   <a class="lefta" href="#">共享</a>
 </div>
 <div class="leftmenu">
   <a class="lefta" href="#">iscsi设置</a>
 </div>
 <div class="leftmenu">
   <a class="lefta" href="#">网络</a>
 </div>
 <div class="leftmenu">
   <a class="lefta" href="#">设置</a>
 </div>
</div>
<script type="text/javascript">
hikApp.controller("leftCtrl",function($scope){
	$scope.flag = false;
	$scope.show = function() {
		console.log("开始进行展示");
		if($scope.flag==false){
			$scope.flag = true;
		}else{
			$scope.flag = false;
			
		}
	}
});
</script>
